npm-debug.log
pnpm-debug.log

**/.git
**/.github
**/.gitattributes
**/.gitignore
**/.devcontainer
**/.vscode
**/.prettierrc.json
**/node_modules
**/built
**/dist

**/README.md

**/.env
**/.container.env
**/example.env
**/example.container.env

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.local.yml